.footer {
  background-color: #9E1B34;
  padding: 20px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p,
.footer-nav-list {
  margin: 0;
  display: inline-block;
}

.footer-nav-list {
  list-style-type: none;
  display: flex;
  margin-left: 15px;
}

.footer-nav-list li {
  margin: 0 10px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
