.footer {
  background-color: #f8fafc;
  padding: 10px 20px;
  color: black;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin-right: 10px;
}

.footer-nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-nav-list li {
  margin: 0 10px;
}

.footer a {
  color: black;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
