.header {
  background-color: #9E1B34;
  padding: 20px; /* Increase padding to make the header bigger */
  color: white; /* Set text color to white */
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  color: white; /* Ensure that link text is also white */
  text-decoration: none; /* Remove underline from links */
  font-size: 1.2rem; /* Increase font size for links */
}

.nav-list li a:hover {
  text-decoration: underline; /* Add underline on hover for better UX */
}