.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #9E1B34;
  padding: 10px 20px;
  color: white;
}

.header-title {
  margin-right: 50px;
  font-size: 24px;
  font-weight: bold;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 10px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
}

.nav-list li a:hover {
  color: lightgray;
}

.nav-list li a.active {
  font-weight: bold;
}
