@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-bg-color {
  background-color: #9E1B34;
}

@layer base {
  /* Base styling for form elements */
  input, textarea, select, button {
    @apply bg-white dark:bg-gray-700 text-black dark:text-white border border-gray-300 dark:border-gray-600;
  }

  /* Add general background and text color handling */
  body {
    @apply bg-background text-foreground dark:bg-gray-900 dark:text-white;
  }

  /* Example for a box or container */
  .box {
    @apply bg-white dark:bg-gray-800;
  }
}
